@{
    ViewData["Title"] = "Login/Register";
}
<h1 class="w-50 mx-auto">Wedding Planner Login</h1>
<hr>
<div class="d-flex justify-content-around">
    <partial name="RegisterPartial"/>
    <partial name="LoginPartial"/>
</div>